@media screen and (min-width: 900px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #titleAndLogo {
        border-bottom: 8px solid var(--accent1-color);
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        width: 100%;
    }

    #titleAndLogo h1 {
        grid-column: 1;
        justify-self: start;
    }

    #logo {
        grid-column: 2;
        justify-self: center;
    }

    nav ul {
        justify-content: center;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .pages {
        display: flex !important;
    }

    #benefits {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        color: var(--primary-color);
        padding: 10px;
        top: 50%;
        left: 50%;
        box-shadow: 0 0 20px black;
        line-height: 2;
    }

    #benefits h2 {
        color: var(--secondary-color);
        background-color: var(--primary-color);
        padding: 20px;
    }

    picture img {

        width: 100%;
        height: auto;
        display: block;
    }

    .album-content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1200px;
        margin: 10px auto;
    }
}