:root {
    --primary-color: #e7ffe7;
    --secondary-color: #2A4D14;
    --accent1-color: #67E0A3;
    --accent2-color: #317B22;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: "Inter", sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header img {
    width: auto;
    height: 100px;
}

#titleAndLogo {
    border-bottom: 8px solid var(--accent1-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#logo {
    display: flex;
    margin: auto;
}

h1 {
    text-align: left;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.pages a {
    text-decoration: none;
    color: var(--secondary-color);
    display: block;
    text-align: center;
    padding: 20px;
    font-size: larger;
}

a:hover {
    color: var(--accent2-color);
    font-weight: bold;
    text-decoration: underline;
}

.active {
    color: var(--secondary-color);
    font-weight: bold;
    border-bottom: 2px solid var(--secondary-color);
}

.navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navigation a {
    display: flex;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 8px;
    text-align: center;
}

h1,
h2 {
    color: var(--secondary-color);
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    line-height: 1;
}

.open a {
    display: block;
}

.pages {
    display: none;
}

.pages.open {
    display: flex;
    flex-direction: column;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--secondary-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
    color: var(--secondary-color);
}

.hero {
    position: relative;
    width: 100%;
}

picture img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 0 20px black;
}

#benefits {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--primary-color);
    padding: 10px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 800px;
    box-sizing: border-box;
    box-shadow: 0 0 20px black;
    line-height: 2;
}

#benefits h2 {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 20px;
    margin: -10px -10px 10px -10px;
}

#phrase {
    font-weight: bold;
    text-align: center;
}

figure img {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
    margin: auto;
}

.album-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;
    padding: 10px;
}

figure:hover {
    box-shadow: 0 0 20px black;
}

figure {
    border-radius: 8px;
    overflow: hidden;
    display: block;
    margin: 8px;
    padding: 8px;
}

figure table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

figure th {
    padding: 4px;
    text-align: center;
    font-size: 1.25rem;
    font-size: larger;
}

figure td {
    padding: 6px 10px;
    text-align: left;
    font-size: small;
}

.label {
    font-weight: bold;
}

.emoji::before {
    content: "🌿 ";
}

.video-section a::before {
    content: "▶️";
    margin-right: 8px;
}

.video-section {
    display: flex;
    flex-direction: column;
}

.video-section a {
    text-decoration: none;
    color: var(--secondary-color);
    display: block;
    text-align: center;
    padding: 20px;
    font-size: larger;
}

.video-section img {
    width: auto;
    height: 100px;
}

.video-section h2,
h3 {
    text-align: center;
}

#five-tips {
    text-align: center;
    margin-top: 30px;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0 0 20px black;
    line-height: 2rem;
}

.questionAndAnswer-content {
    text-align: center;
    margin-top: 30px;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0 0 20px black;
    line-height: 1rem;
}

.contact-form {
    max-width: 400px;
    margin: 4rem auto;
    padding: 20px;
    background-color: var(--accent2-color);
    color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}

.contact-form h2 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.2rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.form-control {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    background-color: var(--primary-color);
}

.form-control:focus {
    outline: none;
    border-color: var(--accent1-color);
}

textarea.form-control {
    min-height: 150px;
    resize: vertical;
}

.btn-submit {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.8rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    box-shadow: 1px 1px 4px black;
    transition: opacity 0.3s;
    font-weight: bold;
}

.btn-submit:hover {
    opacity: 0.6;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: column;
    padding: 5px;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    margin-top: 20px;
}